In [16]:
import mysql.connector
import pandas as pd 

# Connect to server
cnx = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="2005kd"
)

In [17]:
query = "SELECT * FROM banking_casee.customer"

In [19]:
df=pd.read_sql(query, cnx)
df.head(20)

C:\Users\kunda\AppData\Local\Temp\ipykernel_24960\1312318797.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query, cnx)

,ï»¿Client ID,Name,Age,Location ID,Joined Bank,Banking Contact,Nationality,Occupation,Fee Structure,Loyalty Classification,...,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting,BRId,GenderId,IAId
0,IND81288,Raymond Mills,24,34324,06-05-2019,Anthony Torres,American,Safety Technician IV,High,Jade,...,1485828.64,603617.88,607332.46,12249.96,1134475.30,1,2,1,1,1
1,IND65833,Julia Spencer,23,42205,10-12-2001,Jonathan Hawkins,African,Software Consultant,High,Jade,...,641482.79,229521.37,344635.16,61162.31,2000526.10,1,3,2,1,2
2,IND47499,Stephen Murray,27,7314,25-01-2010,Anthony Berry,European,Help Desk Operator,High,Gold,...,1033401.59,652674.69,203054.35,79071.78,548137.58,1,3,3,2,3
3,IND72498,Virginia Garza,40,34594,28-03-2019,Steve Diaz,American,Geologist II,Mid,Silver,...,1048157.49,1048157.49,234685.02,57513.65,1148402.29,0,4,4,1,4
4,IND60181,Melissa Sanders,46,41269,20-07-2012,Shawn Long,American,Assistant Professor,Mid,Platinum,...,487782.53,446644.25,128351.45,30012.14,1674412.12,0,3,1,2,5
5,IND78532,Samuel Hudson,23,13204,07-02-2019,Douglas Tucker,American,Help Desk Technician,High,Silver,...,1307269.41,745627.74,238310.37,15615.18,1556031.06,1,2,1,1,6
6,IND95683,Timothy Alexander,46,42910,02-06-2002,Douglas Tucker,Asian,Account Coordinator,High,Gold,...,41200.18,60588.50,24639.33,3045.78,154111.62,1,1,1,2,7
7,IND40785,Carl Martin,78,6127,03-11-2000,Steve Diaz,European,Automation Specialist II,Mid,Gold,...,156983.13,53889.73,46813.78,51979.19,1171456.68,0,2,2,2,8
8,IND13570,Philip Day,67,32656,07-04-2015,Bruce Butler,Asian,Software Test Engineer II,High,Silver,...,1242347.22,328334.62,279528.12,27125.28,464560.28,0,1,2,2,9
9,IND53299,Jason Sims,51,28340,20-11-1995,Joe Price,European,Geologist III,Mid,Silver,...,317246.67,111532.03,115869.39,48043.52,908583.94,2,1,3,1,10
10,IND76263,Amy Martinez,55,40459,18-10-2014,Adam Hernandez,European,Administrative Officer,High,Jade,...,37979.77,19335.16,52204.92,10539.79,353119.93,3,1,3,1,11
11,IND56452,David Johnston,73,25563,12-09-2005,Chris Armstrong,American,Database Administrator II,Mid,Jade,...,749007.94,204991.65,513425.24,22904.91,294397.85,0,2,3,2,12
12,IND28766,Wayne Foster,45,35687,17-03-2018,Joshua Ryan,African,Staff Scientist,Low,Silver,...,616330.93,208277.35,138738.22,6336.65,972455.46,3,1,3,2,13
13,IND17897,Carlos Moore,44,19554,02-01-1996,Paul Larson,American,Programmer I,High,Jade,...,802862.97,263714.11,174051.32,68855.49,835554.83,0,2,3,2,14
14,IND86325,Lisa Johnston,36,33368,05-06-2020,Mark Montgomery,Asian,Software Test Engineer I,High,Platinum,...,116399.86,69072.45,67077.02,48101.13,1136169.30,1,2,3,1,15
15,IND74197,Andrew Mills,55,27913,06-01-2021,Shawn Wallace,European,Actuary,Mid,Silver,...,317542.21,134344.78,71284.16,20708.55,2283081.57,3,2,3,1,16
16,IND28503,Jack Coleman,61,9505,22-06-2014,Ernest Rivera,Asian,Staff Accountant II,High,Silver,...,2446251.57,1273391.23,253337.83,80698.26,1128082.14,1,3,4,2,17
17,IND56539,Aaron Day,56,36232,19-01-2020,Gregory Simmons,Asian,Assistant Media Planner,Low,Jade,...,55118.87,25590.90,64095.37,10492.37,199617.82,3,1,4,2,18
18,IND53604,Kevin Weaver,43,6299,31-03-2019,Frank Brown,American,Staff Accountant I,Low,Jade,...,204450.83,89694.56,35877.82,22452.06,1115542.44,3,1,3,2,19
19,IND32064,Mary Fox,63,7694,09-03-2009,Adam Hernandez,Australian,Compensation Analyst,Mid,Jade,...,966281.34,472404.21,396819.54,37271.05,1631986.90,2,4,1,2,20

In [20]:
df.describe()

,Age,Location ID,Estimated Income,Superannuation Savings,Amount of Credit Cards,Credit Card Balance,Bank Loans,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting,BRId,GenderId,IAId
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3.000000e+03,3.000000e+03,3.000000e+03,3.000000e+03,3000.000000,3.000000e+03,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,51.039667,21563.323000,171305.034263,25531.599673,1.463667,3176.206943,5.913862e+05,6.715602e+05,3.210929e+05,2.329084e+05,29883.529993,8.667598e+05,1.518667,2.249333,2.559333,1.504000,10.425333
std,19.854760,12462.273017,111935.808209,16259.950770,0.676387,2497.094709,4.575570e+05,6.457169e+05,2.820796e+05,2.300078e+05,23109.924010,6.412303e+05,1.102145,1.131191,1.007713,0.500067,5.988242
min,17.000000,12.000000,15919.480000,1482.030000,1.000000,1.170000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,45.000000,0.000000e+00,0.000000,1.000000,1.000000,1.000000,1.000000
25%,34.000000,10803.500000,82906.595000,12513.775000,1.000000,1236.630000,2.396281e+05,2.044004e+05,1.199475e+05,7.479440e+04,11916.542500,3.748251e+05,1.000000,1.000000,2.000000,1.000000,5.000000
50%,51.000000,21129.500000,142313.480000,22357.355000,1.000000,2560.805000,4.797934e+05,4.633165e+05,2.428157e+05,1.640866e+05,24341.190000,7.113147e+05,2.000000,2.000000,3.000000,2.000000,10.000000
75%,69.000000,32054.500000,242290.305000,35464.740000,2.000000,4522.632500,8.258130e+05,9.427546e+05,4.348749e+05,3.155750e+05,41966.392500,1.185110e+06,2.000000,3.000000,3.000000,2.000000,15.000000
max,85.000000,43369.000000,522330.260000,75963.900000,3.000000,13991.990000,2.667557e+06,3.890598e+06,1.969923e+06,1.724118e+06,124704.870000,3.825962e+06,3.000000,5.000000,4.000000,2.000000,22.000000

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ï»¿Client ID              3000 non-null   object
 1   Name                      3000 non-null   object
 2   Age                       3000 non-null   int64
 3   Location ID               3000 non-null   int64
 4   Joined Bank               3000 non-null   object
 5   Banking Contact           3000 non-null   object
 6   Nationality               3000 non-null   object
 7   Occupation                3000 non-null   object
 8   Fee Structure             3000 non-null   object
 9   Loyalty Classification    3000 non-null   object
 10  Estimated Income          3000 non-null   float64
 11  Superannuation Savings    3000 non-null   float64
 12  Amount of Credit Cards    3000 non-null   int64
 13  Credit Card Balance       3000 non-null   float64
 14  Bank Loans                3000 non-null   float64
 15  Bank Deposits             3000 non-null   float64
 16  Checking Accounts         3000 non-null   float64
 17  Saving Accounts           3000 non-null   float64
 18  Foreign Currency Account  3000 non-null   float64
 19  Business Lending          3000 non-null   float64
 20  Properties Owned          3000 non-null   int64
 21  Risk Weighting            3000 non-null   int64
 22  BRId                      3000 non-null   int64
 23  GenderId                  3000 non-null   int64
 24  IAId                      3000 non-null   int64
dtypes: float64(9), int64(8), object(8)
memory usage: 586.1+ KB